<div id="userOptions">
  <div class="dropdown">
    <i class="fas fa-ellipsis-h"></i>
    <div class="dropdown-content">
      <a href="/"><i class="fas fa-home"></i></a>
      <a href="/articles/add"><i class="far fa-file-alt"></i></i></a>
      <a href="/articles"><i class="far fa-newspaper"></i></a>
      <a href="/users/logout" class="logout"><i class="fas fa-sign-out-alt"></i></a>
    </div>
  </div>
</div>